# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/
env/

# Secrets
.env

# OS / editor
.DS_Store
.idea/
.vscode/

# Streamlit
.streamlit/secrets.toml
